<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.procesos.mapper.IAsignacionEspacioAcademicoMapper">

	<sql id="consultaVistaMant">
        SELECT  ID
        		, ID_ASIGNACION
        		, CICLO
                , CURSO
                , SECCION
                , ID_DOCENTE
                , NOMBRES_DOCENTE
                , TOPE
                , MATRICULADOS
                , TURNO
                , DESCRIPCION_TURNO
                , TIPO_HORARIO
                , DESCRIPCION_TIPO_HORARIO
                , DIA
                , DESCRIPCION_DIA
                , HORARIO_INICIO
                , HORARIO_FIN
                , ESPACIO
        FROM VIE_CON_ASIGNACION_ESPACIO_ACADEMICO
    </sql>
    
    <sql id="orden">
    	ORDER BY ciclo, curso, seccion
    </sql>
	
    <select id="buscarTodos" resultType="AsignacionEspacioAcademico" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <include refid="orden"/>
    </select>

    <select id="ejecutarProcedimientoAsignacionEspacioAcademico" statementType="PREPARED">
        {
            CALL PRC_ASIGNACION_ESPACIO_ACADEMICO()
        }
    </select>
    
</mapper>
