<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.procesos.mapper.IHorarioMapper">

    <sql id="consultaVistaMant">
        SELECT id_horario
             , id_curso
             , desc_curso
        	 , seccion
        	 , dia
        	 , horario_inicio
        	 , horario_fin
        FROM VIE_MAN_HORARIO
    </sql>

    <sql id="orden">
    	ORDER BY id_curso,seccion,id_horario
    </sql>

    <select id="buscarTodos" resultType="DetalleHorario" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <include refid="orden"/>
    </select>

    <select id="buscarHorario" resultType="edu.taller.sisgea.procesos.model.Horario">
        <include refid="consultaVistaMant"/>
        WHERE
        id_horario = #{idHorario}
        AND id_curso = #{idCurso}
        AND seccion = #{seccion}
    </select>
    
    <select id="mantener" parameterType="ParametroMantenimiento" statementType="CALLABLE">
        {
            CALL PRC_MANT_MAE_HORARIO(
                #{modo, 							jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idHorario,		jdbcType=INTEGER, mode=IN},
                #{objetoMantenido.idCurso,			jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.seccion,			jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.dia,				jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.horarioInicio,	jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.horarioFin,		jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>

</mapper>
