<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.procesos.mapper.IPlanMapper">

	<sql id="consultaVistaMant">
        SELECT id_plan
        	 , descripcion_plan
        	 , facultad
        	 , escuela
        	 , descripcion_escuela
        	 , especialidad
        FROM VIE_MAN_PLAN_ACADEMICO
    </sql>
    
    <sql id="orden">
    	ORDER BY id_plan
    </sql>
	
    <select id="buscarTodos" resultType="Plan" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <include refid="orden"/>
    </select>
    
    <select id="buscarPlan" resultType="Plan">
        <include refid="consultaVistaMant"/>
        WHERE
                id_plan = #{idPlan}
    </select>

</mapper>
