<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.consultasgenerales.mapper.ISolicitudMapper">

	<sql id="consultaVistaMant">

		SELECT 
				    ID_SOLICITUD
				  , ID_ESPACIO_ACADEMICO
		          , ID_SOLICITANTE
		          , DNI
		          , NOMBRES
		          , APELLIDO_PATERNO
		          , APELLIDO_MATERNO
		          , ESTADO_SOLICITUD
		          , TIPO_SOLICITUD
		          , ACTIVO
		          , FECHA_REGISTRO	
		          , FECHA_RESERVA
		          , HORA_INICIO
		          , HORA_FIN
		          , ESTADO_ASISTENCIA
				FROM VIE_SOLICITUD 
    </sql>

    <sql id="orden">
    	ORDER BY ID_SOLICITUD
    </sql>
	
    <select id="buscarTodosSolictud" resultType="Solicitud" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <include refid="orden"/>
    </select>
    
    <select id="buscarSolicitud" resultType="Solicitud">
        <include refid="consultaVistaMant"/>
         WHERE
                ID_SOLICITUD = #{idSolicitud}
    </select>
    
    <select id="mantener" parameterType="ParametroMantenimiento" statementType="CALLABLE">
        {
            CALL PRC_ASIGNACION_ESPACIO_SOLICITANTE(
                #{modo, 							  			jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idSolicitud, 	      			jdbcType=INTEGER, mode=IN},
                #{objetoMantenido.idEspacioAcademico,			jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idSolicitante, 	      		jdbcType=NUMERIC, mode=IN},
                #{objetoMantenido.estadoSolicitud,				jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.tipoSolicitud,				jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.motivo, 	      				jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.fechaRegistro, 	      		jdbcType=DATE, mode=IN},
                #{objetoMantenido.fechaReserva, 	      		jdbcType=DATE, mode=IN},
                #{objetoMantenido.horaInicio, 	      			jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.horaFin, 	      				jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.estadoAsistencia, 	      	jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>

</mapper>
