<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.taller.sisgea.mantenimientosgenerales.mapper.IMultitabCabMapper">

	<sql id="consultaVistaMant">
        SELECT id_multitab_cab
     		 , descripcion_multitab_cab
     	FROM VIE_MAN_MULTITAB_CAB
    </sql>
    
    <sql id="orden">
    	ORDER BY id_multitab_cab ASC
    </sql>
    
    <select id="buscarTodos" resultType="MultitabCab" statementType="PREPARED">
        <include refid="consultaVistaMant"/>
        <include refid="orden"/>
    </select>
    
    <select id="mantener" parameterType="ParametroMantenimiento" statementType="CALLABLE">
        {
            CALL PRC_MANT_MAE_MULTITAB_CAB(
                #{modo, 								    jdbcType=VARCHAR, mode=IN},
                #{objetoMantenido.idMultitabCab, 	        jdbcType=INTEGER, mode=INOUT},
                #{objetoMantenido.descripcionMultitabCab,   jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>

</mapper>
